<div class="text-center card">
  <div class="card-header">
  <h2>{{post_title}}</h2>
  <p class="card-subtitle">Posted by {{user.username}} on {{format_date date_created}}</p>
  </div>
  <p>{{post_text}}</p>
</div>

{{#each comments as |comment| }}
<div class="row mb-4 comment card">
  <div class="col-md-12 card-header">
    <p>{{user.username}} : {{format_date comment.date_created}}</p>
  </div>
  <div class="col-md-12">
    <p>
      {{comment.comment_text}}
    </p>
  </div>
</div>
{{/each}}
<div class="text-center">
    {{#if logged_in}}
  <p>
    <a class="btn btn-primary" href="/comment/{{id}}">Comment</a>
  </p>
  {{else}}
  <p>
    Log in to comment. <a class="btn btn-primary" href="/login">Login</a>
  </p>
  {{/if}}
</div>