<div class="text-center">
  <h2>{{post_title}}</h2>
  <p>{{post_text}}</p>
  <p>Posted by {{user.username}} on {{format_date date_created}}</p>
</div>

{{#each comments as |comment| }}
<div class="row mb-4 comment">
  <div class="col-md-5">
    <p>{{user.username}} : {{format_date comment.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{comment.comment_text}}
    </p>
  </div>
</div>
{{/each}}

<div class="row mt-4">
  <div class="col-md-6">
    <h4>Add comment:</h4>

    <form class="form new-comment-form">
      <div class="form-group">
        <label for="comment_text">Post content:</label>
        <textarea class="form-input" id="comment_text" name="comment_text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" id="cmntbtn" value="{{id}}">Comment</button>
      </div>
    </form>
  </div>
  <script src="../js/comment.js"></script>
