
{{#each blogposts as |blogpost| }}
<div class="row mb-4 blogpost">
  <div class="col-md-5">
    <h2>
      <a href="/blogpost/{{blogpost.id}}">{{post_title}}</a>
    </h2>
    <p>Posted by {{blogpost.user.username}} on {{format_date blogpost.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blogpost.post_text}}
    </p>
  </div>
</div>
{{/each}}
